<!DOCTYPE html>
<html lang="en">
  <head> 
  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900italic' rel='stylesheet' type='text/css'>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Thought Collective</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/static/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="Jumbotron text-center">
             <h1 id="headerTitle">THOUGHT COLLECTIVE</h1>
                <video autoplay loop poster="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2015/10/3051856-inline-1-this-ferrofluid-alarm-clock-gets-back-to-basics.gif" id="bgvid">
                <source src="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2015/10/3051856-inline-1-this-ferrofluid-alarm-clock-gets-back-to-basics.gif" type="video/webm">
                <source src="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2015/10/3051856-inline-1-this-ferrofluid-alarm-clock-gets-back-to-basics.gif" type="video/mp4">
                </video>
             <hr>
              <!-- new post form -->
              <form class="form-group" id="new-post-form"> 
                <input name="post" type="text" class="form-control" id="post-input" placeholder="What have you got to say?">
              <button type="submit" class="btn btn-primary" data=toggle="tooltip" data-placement="bottom" title="Post">Thought</button>
              </form>
              
              <!-- list of posts --> 
              <ul class="list-group" id="post-ul">
              <% for (var i=0; i<posts.length; i++) { %>
              <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= posts[i].text %></h4>
                    <button data-id="<%=posts[i].id %>" type='button' class='close' aria-label='Close'><span aria-hidden='true'></span></button>
              <% } %>

              <!-- action new post -->
               

              </form>
                <hr>
                <div class="clearfix">
                 <!--  <h2 class='pull-left'>Thoughts</h2> -->
                </div>
                  <ul class="posts list-group">
                    <li class=post list-group-item> 
                 

                

                  </ul>
                </div>
              
              

             </form>
        </div>
        
      </div>
    </div>
  </body>
</html>

<!-- 
<li class=post list-group-item>
data.post[i]
<span data-id='" + data._id + "' class='glyphicon glyphicon-remove pull-right'></span>
</li>"; -->
