<!DOCTYPE html>
<html lang="en">
  <head> 
  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900italic' rel='stylesheet' type='text/css'>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Blog</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/static/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="Jumbotron text-center">
             <h1 id="headerTitle">THOUGHT COLLECTIVE</h1>
                <video autoplay loop poster="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2015/10/3051856-inline-1-this-ferrofluid-alarm-clock-gets-back-to-basics.gif" id="bgvid">
                <source src="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2015/10/3051856-inline-1-this-ferrofluid-alarm-clock-gets-back-to-basics.gif" type="video/webm">
                <source src="http://c.fastcompany.net/multisite_files/fastcompany/imagecache/inline-large/inline/2015/10/3051856-inline-1-this-ferrofluid-alarm-clock-gets-back-to-basics.gif" type="video/mp4">
                </video>
             <hr>
              <form class="text-center" id="newPost"> 
              <!-- action new post -->
                <div class="form-group">
                  <input class="form-control" type="text" name="post" id="post-content" placeholder="What have you got to say?">
                </div>

                <div class="form group">
                  <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Post">Thought</button>
                </div>
              </form>
                <hr>
                <div class="clearfix">
                 <!--  <h2 class='pull-left'>Thoughts</h2> -->
                </div>
                  <ul class="posts list-group">
                

                  </ul>
                </div>
                
                <div class="comments">
                  
                </div>
              
              

             </form>
        </div>
        
      </div>
    </div>
  </body>
</html>
